/* GENERAL */
html,body{
    width: 100% !important;
    color: #404040;
    font-family: 'Montserrat', sans-serif !important;
}

a{
    text-decoration: none;
}


/* NAV */
#buttonMenu{
    border-color: transparent !important;
}

.nav-link{
    font-size: 0.85em;
    color: #5dd5ff !important;
}

.nav-link:hover:not(.active){
    color: #bee9fd !important;
}


/* HOME */
#home{
    padding-top: 4.5em;
    background-image: url(../img/bgBlanc.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#titreHome{
    letter-spacing: 0.25em;
}

#formation{
    font-size: 0.85em;
}

#telechargerCV a{
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 51%);
            box-shadow: 0 0 10px 0 rgb(0 0 0 / 51%);;
    text-shadow: 0 0 10px rgb(0 0 0 / 30%);
    letter-spacing: 0.05em;
    font-weight: bolder;
    font-size: 0.85em;
    background-color: #5dd5ff;
    color: whitesmoke;
    border: 2px solid #5DD5FF;
    border-radius: 8px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#telechargerCV a:hover{
    background-color: transparent;
    color: #5DD5FF;
}


/* A PROPOS */
#rondB, #description{
    opacity: 0;
}

@media only screen and (max-width:500px){
    #rondB, #description{
        opacity: 1;
    }

    .titre{
        font-size: 2em !important;
    }
}


/* COMPETENCES */
#fr, #pt{
    width: 100%;
}

#en, #sp{
    width: 80%;
}

#ger{
    width: 20%;
}

/* EXPERIENCES */
#experiences{
    background-image: url(../img/Ordinateur.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* FLECHE HAUT DE PAGE */
#topPage{
    position: fixed;
    font-size: 3em;
    bottom: 2%;
    right: 2%;
    color: #404040;
    opacity: 0.3;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

#topPage:hover{
    position: fixed;
    font-size: 3em;
    bottom: 2%;
    right: 2%;
    color: #404040;
    opacity: 1;
}


/* CLASSES */
.titre{
    font-size: 3.5em;
}

.bleu{
    border-bottom: 4px solid #5DD5FF;
}

.colorBlue{
    color: #5DD5FF;
}

.colorDark{
    color: #404040;
}

.colorContact{
    color: #7a7a7a;
}

.white{
    border-bottom: 4px solid white;
}

.bgBlue{
    background-color: #5DD5FF;
}

.fontIcon{
    font-size: 3em;
}

.fontIconTitle{
    font-size: 2em;
}

.progress{
    height: 0.85em;
}

.size{
    max-height: 25em;
}

.spaceCaract{
    letter-spacing: 1.5pt;
}

.textShadow{
    text-shadow: 2px 2px 10px black;
}

.shadowDark{
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 74%);
            box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 74%);
}

.hoverScale{
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.pointerCursor{
    cursor: pointer;
}

.hoverScale:hover{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.opacit{
    opacity: 1;
}

.opacit:hover{
    opacity: 0.8;
}
