body{
    background: url(Images/images/fond.jpg);
}
section{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 1280px;
    height: 1200px;
    background-color: #001500;
    border: 1px solid white;
    font-family: 'K2D', sans-serif;
}
#header1{
    height: 301px;
    margin-top: -15px;
    background-image: url(Images/images/bandeau.jpg);
}
#menu{
    position: fixed;
    overflow: hidden;
    margin-left: -35px;
    width: 1278px;
    display: block;

}
#menu li{
    overflow: hidden;
    margin-left: -4px;
    height: 60px;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    transition: height 0.5s;
}
#hover1:hover{
    color: green;
    overflow: hidden;
    margin-left: -4px;
    height: 301px;
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
#menu ul li{
    margin-top: 2px;
    margin-left: -20px;
    display: block;
    width: 100%;
    height: 100%;
}
#menu a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(0, 0, 0);
    display: block;
    height: 40px;
}
#menu a:hover{
    color: green;
}
#events{
    text-align: center;
    background-color: white;
    width: 402px;
    height: 510px;
}
#title{
    height: 21px;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 21px;
}
#imgevents{
    margin-bottom: -20px;
}
#date{
    font-weight: bolder;
    font-size: 20px;
}
.justify{
    text-align: justify;
    font-weight: bolder;
}
#ryder{
    text-justify: none;
    font-size: 18px;
    margin: 0 15px;
}
#subscribe a{
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-decoration: underline;
}
#subscribe{
    margin-top: 20px;
    width: 402px;
    text-align: center;
}
nav{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 849px;
}
#welcome{
    margin: 0px;
    font-size: 30px;
    text-align: center;
    height: 333px;
    width: 768px;
    background-image: url(Images/images/bienvenue.jpg);
    background-position: center -130px;
}
#right{
    color: white;
    margin-left: 110px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
#service{
}
#une{
    margin-left: 63px;
}
.inline{
    vertical-align: top;
    display: inline-block;
    width: 350px;
}
.bgfont{
    font-size: 20px;
    background-color: black;

}
#service ul li{
    list-style-image: url(Images/images/fleche.gif);
}
.link{
    color: white;
    text-decoration: underline;
    font-size: 20px;
}
#une p{
    margin-left: 10px;
    font-size: 20px;
    width: 330px;
}
footer{
    margin-top: -19px;
    padding: 20px 0;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
}